<!-- <ion-content> -->
<div class="form-side pt-4">
  <h2 class="text-center">Verify Otp Code</h2>
  <form class="form-side pt-4" [formGroup]="form">
    <div class="auto-fill py-1 px-2">
      <div class="form-section-in">
        <div class="row">
          <div class="col-12">
            <div class="login-input">
              <div class="mail-icon">
                <img src="../../../assets/images/register/key.svg" />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  placeholder="Enter Otp"
                  name="password"
                  formControlName="emailOtp"
                />
              </div>
            </div>
            <div class="required">
              <span
                *ngIf="
                  form.controls.emailOtp.errors &&
                  (form.controls.emailOtp.dirty ||
                    form.controls.emailOtp.touched)
                "
              >
                <span *ngIf="form.controls?.emailOtp?.errors?.['required']"
                  >Email Otp Required</span
                >
              </span>
            </div>
 
          </div>
        </div>
      </div>
    </div>
    <div class="px-2 text-center otpOuter">
      <button class="btn_new mt-4 me-1 mb-3" (click)="saveOtpCode()">Save</button>
      <button class="btn active-button mt-4 ms-1 mb-3" (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
<!-- </ion-content> -->
