.form-side {
  width: 100%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-top: 15px;
  }

  .auto-fill {
    border-radius: 8px;

    .google-btn {
      border-radius: 30px;
      background: none;
      border: none;
      background-color: #fff;
      padding: 5px 15px 5px 5px;
      box-shadow: 0 7px 20px 16px hsla(0, 0%, 82%, 0.3137254901960784);

      ul {
        li {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

    // .form-section-in {
    //   padding-top: 30px;

    //   .form-label {
    //     font-size: 14px;
    //     color: #ababab !important;
    //     // padding-bottom: 4px !important;
    //   }

    //   input {
    //     border: none;
    //     box-shadow: none;
    //     outline: none;
    //     background-color: #e9ebec !important;
    //     height: 46px;
    //   }
    // }
  }

  .active-button {
    background: none;
    border: 2px solid #363636;
    color: #363636;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px 40px;
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: #363636;
      color: #fff;
      transition: all 0.5s ease-in-out;
    }
  }
}
.login-input {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-left-color: rgb(255, 255, 255);
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 5px;
  padding: 10px 0px;
  border-left: 7px solid #4790fc;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .mail-icon {
    padding: 0px 20px;
  }

  .placing-right {
    placeholder {
      text-align: right;
    }
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background: #fff;
    border-left: 1px solid #707070;
    height: 20px;
    color: #707070;
    outline: none;
  }

  input[type="MM/DD/YYYY"] {
    text-align: right;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background: #fff;
    border-left: 1px solid #707070;
    height: 20px;
    color: #707070;
    outline: none;
  }
}
::ng-deep .myModal {
  --width: 400px !important;
  --height: 370px !important;
}
.otpOuter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_new {
  background-color: #4790fc;
  border-radius: 5px;
  color: white;
  padding: 8px 45px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: center;
}
