.tab {

  .main-signal-card {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px;
    gap: 15px;
  }

  // signal-card//
  .followed-main-card {

    .followed-card-body {
      border-radius: 5px 5px 0px 0px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding: 20px;

      .followed-user {
        display: flex;
        color: #000;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        .followed-pic {
          width: 40px;
          height: 40px;
          background: #000;
          min-width: 40px;
          border-radius: 50px;
        }

        .followed-text {
          .tata {
            margin: 0;
            font-size: 18px;
            font-weight: 500;
            color: #363636;
          }

          .exp {
            margin: 0;
            font-size: 16px;
            color: #707070;
          }
        }
      }

      .followed-line-chart {
        padding-top: 20px;
      }
    }

    .unfilled-card {
      border: 1px solid #E2E2E2;
      padding: 30px 25px 20px;
      border-radius: 0px 0px 5px 5px;
      background-color: #E2E2E2;

      ul {
        list-style-image: url("../../../../assets/images/signals/8666656_check_circle_icon.svg");
        margin-bottom: 0px !important;


        li {
          padding: 0px 0px 10px 5px;

          a {
            color: #363636;
            font-size: 16px;
            text-decoration: none;


            span {
              padding-left: 8px;
              font-weight: 600;
            }

          }
        }
      }
    }
  }

  .load {
    text-align: center;
    font-size: 18px;
    padding: 10px 0px 30px 0px;
    font-weight: 600;

    a {
      color: #707070;
    }

    a:hover {
      color: #4790FC;
    }
  }

  // tab //
  .outer-layer {
    padding: 10px 20px;
    margin: 8px 15px;
    background-color: #4790FC;
    border-radius: 10px;
    display: flex;

    .tab-signal,
    .tab-followed,
    .tab-follow,
    .tab-setting {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      height: 50px;

      .filter {
        background: #fff;
        padding: 7px;
        display: flex;
        border-radius: 40px;
        width: 50px;
        height: 50px;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 435px) {
  .signal-card-body {
    .followed-card-detail {
      flex-wrap: wrap;
    }
  }
}
