.tab {

  // signal-card//
  .main-signal-card {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px;
    gap: 15px;

    .signal-card-body {
      font-size: 12px;
      .filled-card {
        display: flex;
        flex-direction: column;
        background-color: #E2E2E2;
        border-radius: 5px 5px 0px 0px;
        padding: 2px 5px;

        .signal-pic {
          width: 30px;
          height: 30px;
          background: #000;
          border-radius: 50%;
          min-width: 30px;
          background-image: url('../../../../assets/images/user/dummy-user.png');
          background-position: center !important;
          background-size: cover !important;
        }

        .signal-name {
          margin-top: 3px;
          margin-left: 3px;

          .tata {
            margin: 0;
            font-weight: 500;
            color: #363636;
          }

          .std {
            margin: 0;
            color: #707070;
          }
        }

        .signal-sign {
          margin-top: 3px;
          text-transform: uppercase;

          .buy, .entry{
            color: #099D00;
          }
          .sell, .exit {
            color: #9e0101
          }

        }
      }

      .unfilled-card {
        border: 1px solid #E2E2E2;
        padding: 10px;
        border-radius: 0px 0px 5px 5px;
        ul {
          list-style-image: url("../../../../assets/images/signals/8666656_check_circle_icon.svg");
          margin-bottom: 0px !important;
          li {
            padding: 0px 0px 10px 5px;
            a {
              color: #363636;
              text-decoration: none;
              span {
                padding-left: 8px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }


  .outer-layer {
    padding: 10px 20px;
    margin: 8px 15px;
    background-color: #4790FC;
    border-radius: 10px;
    display: flex;

    .tab-signal,
    .tab-followed,
    .tab-follow,
    .tab-setting {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      height: 50px;

      .filter {
        background: #fff;
        padding: 7px;
        display: flex;
        border-radius: 40px;
        width: 50px;
        height: 50px;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 435px) {
  .signal-card-body {
    .unfilled-card {
      flex-wrap: wrap;
    }
  }
}
