<ion-content>
  <div class="tab">
    <app-header></app-header>
    <!-- card-signal -->
    <div class="main-signal-card">

      <div class="signal-card-body" *ngFor="let signal of copierService.signals">

        <div class="filled-card">
          <div class="d-flex justify-content-between align-items-center" >
            <div class="d-flex align-items-center">
              <div class="signal-pic"></div>
              <div class="signal-name">
                <p class="tata">{{signal?.signalProvider?.firstName}}</p>
              </div>
            </div>
            <div>
              <div class="signal-sign"><span class="{{signal?.order.type}}">{{signal?.order.type}}</span> (<span class="{{signal?.type}}">{{signal?.type}}</span>)</div>
              <div class="d-flex" style="justify-content: flex-end; font-size: 9px;" >
                {{signal?.order.createdAt | date}}
              </div>
            </div>
          </div>
        </div>

        <div class="unfilled-card">
          <div class="d-flex justify-content-between">
            <div>{{signal?.order.tradingSymbol}} (₹{{signal?.order.price}})</div>
            <div>Quantity: <span>{{signal?.order.quantity}}unit</span></div>
          </div>
          <div class="d-flex justify-content-between">
            <div>{{signal?.order.tradeType}} ({{signal?.order.marketType}})</div>
            <div>
              TP: <span>{{signal?.order.takeProfit ?? '-'}}</span>
              &nbsp;&nbsp;
              SL: <span>{{signal?.order.stopLoss ?? '-'}}</span>
            </div>
          </div>
        </div>

      </div>

      <div class="signal-card-body" *ngIf="copierService.signals.length === 0">
        <div>
          <p class="notFound">No Signal Received Yet..</p>
        </div>
      </div>

    </div>
  </div>
</ion-content>
