<ion-content>
  <!-- detail -->
  <div class="detail">
    <div class="detail-img">
      <img src="../../../assets/images/login-screen/img.svg" />
    </div>
    <h4>LOGIN</h4>
    <p class="outer-text">Please enter your details.</p>
    <!-- form -->
    <div class="login-form">
      <form [formGroup]="form" class="modal-content">
        <div class="container">
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../assets/images/login-screen/mail.svg" />
            </div>
            <div class="form-group">
              <input type="email" placeholder="Email" formControlName="email" />
            </div>
          </div>
          <div class="required">
            <span *ngIf="form.controls.email.errors && (form.controls.email.dirty || form.controls.email.touched)">
              <span *ngIf="form.controls.email.errors?.['required']">Email is required</span>
              <span *ngIf="form.controls.email.errors?.['email']">Invaild Email</span>
            </span>
          </div>
          <br />
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../assets/images/login-screen/key.svg" />
            </div>
            <div class="form-group">
              <input type="password" placeholder="Enter password" name="password" formControlName="password" />
            </div>
          </div>
          <div class="required">
            <span
              *ngIf="form.controls.password.errors && (form.controls.password.dirty || form.controls.password.touched)">
              <span *ngIf="form.controls?.password?.errors?.['required']">Password Required</span>
              <span *ngIf="form.controls?.password?.errors?.['minlength']">Minimum 8 Characters required</span>
            </span>
          </div>

          <div class="submitOuter">

            <div (click)="forgot()" class="mt-3">
              <span class="psw"><a href="javascript: void(0);">Forgot password?</a></span>
            </div>


            <button type="submit" (click)="signIn()">
              <img src="../../../assets/images/login-screen/login-icon.svg" />
              SIGN IN
            </button>
            <div class="reg" (click)="register()"><a>REGISTER</a></div>
          </div>

        </div>
      </form>
    </div>
  </div>
</ion-content>
