// detail //
.detail {
  text-align: center;

  .detail-img {
    padding: 50px 0px 30px 0px;
  }

  h4 {
    font-size: 30px;
    font-weight: 500;
    color: #2b2a33;
    text-align: center;
  }

  .outer-text {
    color: #363636;
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
    padding: 0px 60px;
  }

  // form //
  .login-form {
    .modal-content {
      padding: 20px 30px;

      .login-input {
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        border-left-color: rgb(255, 255, 255);
        border-left-style: solid;
        border-left-width: 1px;
        border-radius: 5px;
        padding: 10px 0px;
        border-left: 7px solid #4790fc;
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 70px;

        .mail-icon {
          padding: 0px 20px;
          border-right: 1px solid #707070;
        }

        .form-group {
          width: 100%;
          outline: none;

          input[type="text"],
          input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: none;
            box-sizing: border-box;
            background: #fff;
            color: #707070;
            outline: none;
          }
        }
      }

      // remember //
      .remeber {
        display: flex;
        justify-content: space-between;
        padding: 30px 0px 40px 0px;

        .checking {
          display: flex;
          align-content: center;

          #right {
            height: 20px;
            width: 20px;
            margin-right: 15px;
          }

          label {
            font-size: 16px;

            color: #363636;
          }
        }

        .psw {
          a {
            color: #363636;
            font-size: 16px;
          }

          a:hover {
            color: #4790fc;
          }

          text-transform: capitalize;
        }
      }

      // btn //
      button {
        background-color: #4790fc;
        border-radius: 5px;
        color: white;
        padding: 20px 50px;
        margin-top: 30px !important;
        border: none;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        justify-content: center;

        img {
          margin-right: 15px;
        }
      }

      button:hover {
        opacity: 0.8;
      }

      .reg {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        padding: 30px 0px;

        color: #363636;

        a {
          text-decoration: underline;
        }
      }

      .reg:hover {
        opacity: 0.8;
      }
    }
  }
}
.submitOuter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
