<ion-content>
  <div class="detail">
    <div class="detail-img">
      <img src="../../../assets/images/login-screen/img.svg" />
    </div>

    <p class="outer-text">Forgot Password?</p>

    <!-- form -->
    <div class="login-form">
      <form [formGroup]="form" class="modal-content">
        <div class="container">
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../assets/images/login-screen/mail.svg" />
            </div>
            <div class="form-group">
              <input type="email" placeholder="Email" formControlName="email">
            </div>
          </div>
          <div class="required">
            <span *ngIf="form.controls.email.errors && (form.controls.email.dirty || form.controls.email.touched)">
              <span *ngIf="form.controls.email.errors?.['required']">Email is required</span>
              <span *ngIf="form.controls.email.errors?.['email']">Invaild Email</span>
            </span>
          </div>
          <div class="px-2 text-center otpOuter">
            <button class="btn active-button mt-4 ms-1 mb-3" (click)="forgotPassword()">Reset password</button>
          </div>

          <div class="back">
            <div class="main" (click)="gotoLogin()">Back To Login</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>