form {
  .form-group {
    width:100%;
    outline: none;
    //   .form-control {
    //     // height: 40px;
    //     width: 100%;
    //     border-radius: 3px;
    //     border: none;
    //     font-size: 14px;
    //     // color: var(--bs-body-color);
    //     padding-left: 10px;
    //     box-shadow: none !important;

    //     &::placeholder {
    //       opacity: 1;
    //     //   color: var(--bs-body-color);
    //     }
    //   }

    //   .password-form-group {
    //     position: relative;

    //     span.pass-showed-btn {
    //       position: absolute;
    //       top: 0;
    //       right: 18px;
    //       height: 100%;
    //       display: flex;
    //       align-items: center;
    //       justify-content: center;
    //       cursor: pointer;
    //     }
    //   }
    input {
      width: 100%;
      padding: 12px 20px;
      display: inline-block;
      border: none;
      box-sizing: border-box;
      background: #fff;
      height: 20px;
      color: #707070;
      outline: none;

    }
  }

  .form-group-row {
    .form-group {
      width: 50%;

      &:first-child {
        margin-right: 8px;
      }

      &:last-child {
        margin-left: 8px;
      }
    }
  }

  .required {
    color: red;
    font-size: 0.7rem;
    height: 22px;
    padding-left: 6px;
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-top: 8px;
  }
}