<ion-content>
  <div class="detail">
    <div class="detail-img">
      <img src="../../../assets/images/login-screen/img.svg" />
    </div>

    <p class="outer-text">Reset Password?</p>

    <div class="login-form">
      <form [formGroup]="form" class="modal-content">
        <div class="container">
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images//login-screen//key.svg" />
            </div>
            <div class="form-group">
              <input
                type="password"
                placeholder="Enter OTP"
                name="emailOtp"
                formControlName="emailOtp"
              />
            </div>
          </div>
          <div class="required">
            <span
              *ngIf="form.controls.emailOtp.errors && (form.controls.emailOtp.dirty || form.controls.emailOtp.touched)"
            >
              <span *ngIf="form.controls?.emailOtp?.errors?.['required']"
                >Otp Required</span
              >
            </span>
          </div>
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets//images/setting/key.svg" />
            </div>
            <div class="form-group">
              <input
                type="password"
                placeholder="Enter New Password"
                name="password"
                formControlName="password"
              />
            </div>
          </div>
          <div class="required">
            <span
              *ngIf="form.controls.password.errors && (form.controls.password.dirty || form.controls.password.touched)"
            >
              <span *ngIf="form.controls?.password?.errors?.['required']"
                >Password Required</span
              >
              <span *ngIf="form.controls?.password?.errors?.['minlength']"
                >Minimum 8 Characters required</span
              >
            </span>
          </div>

          <div class="px-2 text-center otpOuter">
            <button
              class="btn active-button mt-4 ms-1 mb-3"
              (click)="resetPassword()"
            >
              Submit
            </button>
          </div>

          <div class="back">
            <div class="main" (click)="gotoLogin()">Back To Login</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>
