@font-face {
  font-family: 'CottonCandies';
  src: url('../assets/fonts/CottonCandies/Cotton\ Candies.eot');
  src: local('☺'), url('../assets/fonts/CottonCandies/Cotton\ Candies.woff') format('woff'),
    url('../assets/fonts/CottonCandies/Cotton\ Candies.ttf') format('truetype'),
    url('../assets/fonts/CottonCandies/Cotton\ Candies.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto, Regular';
  src: url('../assets/fonts/Roboto/Roboto-Regular.eot');
  src: local('☺'), url('../assets/fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
    url('../assets/fonts/Roboto/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto, Medium';
  src: url('../assets/fonts/Roboto/Roboto-Medium.eot');
  src: local('☺'), url('../assets/fonts/Roboto/Roboto-Medium.woff') format('woff'),
    url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
    url('../assets/fonts/Roboto/Roboto-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto, Bold';
  src: url('../assets/fonts/Roboto/Roboto-Bold.eot');
  src: local('☺'), url('../assets/fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
    url('../assets/fonts/Roboto/Roboto-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham, Medium';

  src: local('☺'), url('../assets/fonts/Gotham/GothamMedium.ttf') format('truetype'),
  ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham, Bold';

  src: local('☺'), url('../assets/fonts/Gotham/GothamBold.ttf') format('truetype'),
  ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins, Medium';
  src: url('../assets/fonts/Poppins/Poppins-Medium.eot');
  src: local('☺'), url('../assets/fonts/Poppins/Poppins-Medium.woff') format('woff'),
    url('../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype'),
    url('../assets/fonts/Poppins/Poppins-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins, Light';
  src: url('../assets/fonts/Poppins/Poppins-Light.eot');
  src: local('☺'), url('../assets/fonts/Poppins/Poppins-Light.woff') format('woff'),
    url('../assets/fonts/Poppins/Poppins-Light.ttf') format('truetype'),
    url('../assets/fonts/Poppins/Poppins-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins, Regular';
  src: url('../assets/fonts/Poppins/Poppins-Regular.eot');
  src: local('☺'), url('../assets/fonts/Poppins/Poppins-Regular.woff') format('woff'),
    url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
    url('../assets/fonts/Poppins/Poppins-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins, SemiBold';
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.eot');
  src: local('☺'), url('../assets/fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
    url('../assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
    url('../assets/fonts/Poppins/Poppins-SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans, Regular';
  src: url('../assets/fonts/productSans/ProductSansRegular.eot');
  src: local('☺'), url('../assets/fonts/productSans/ProductSansRegular.woff') format('woff'),
    url('../assets/fonts/productSans/ProductSansRegular.ttf') format('truetype'),
    url('../assets/fonts/productSans/ProductSansRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}