.nav-tabs {
  border: none;

  .nav-item {
    width: 50%;

    .nav-link {
      width: 100%;
      border: 1px solid #e9ebec;
      border-bottom: 3px solid #e9ebec;
      border-radius: 0 5px 0 0;
      padding: 12px 0;
      font-size: 16px;
      font-weight: 600;
      color: #000;
      background-color: #e9ebec;
    }

    .nav-link.active {
      @media only screen and (max-width: 567.99px) {
        font-size: 14px;
        padding: 14px 0;
      }
    }

    .active {
      border-color: #e9ebec;
      width: 100%;
      padding: 12px 0;
      font-size: 16px;
      font-weight: 600;
      border-bottom: 3px solid #4790fc;
      background-color: #fff;
      color: #4790fc;
    }


    .second {
      border-radius: 0 5px 0 0;

    }

    .first {
      border-radius: 5px 0 0 0;

    }
  }
}