.tab {

    // top //
    .top-section {
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .all-user {
            background: #000;
            width: 30px;
            height: 30px;
            border-radius: 20px;
            border: 2px solid #fff;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }

    // search //
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0px 20px 20px 20px;

        .form-control {
            background-color: #F3F3F3;
            border: none;
            height: 50px;
            border-radius: 10px;
            color: #707070;
            padding: 20px 48px;
        }

        .left-pan {
            position: absolute;
            left: 42px;
        }
    }

    // signal-card//
    .followed-main-card {
        padding: 20px;

        .followed-card-body {
            border-radius: 5px 5px 0px 0px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 20px;

            .followed-user {
                display: flex;
                color: #000;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;

                .followed-pic {
                    width: 40px;
                    height: 40px;
                    background: #000;
                    min-width: 40px;
                    border-radius: 50px;
                }

                .followed-text {
                    .tata {
                        margin: 0;
                        font-size: 18px;
                        font-weight: 500;
                        color: #363636;
                    }

                    .exp {
                        margin: 0;
                        font-size: 16px;
                        color: #707070;
                    }
                }
            }

            .followed-line-chart {
                padding-top: 20px;
            }
        }

        .unfilled-card {
            border: 1px solid #E2E2E2;
            padding: 30px 25px 20px;
            border-radius: 0px 0px 5px 5px;
            background-color: #E2E2E2;

            ul {
                list-style-image: url("../../../assets/images/signals/8666656_check_circle_icon.svg");
                margin-bottom: 0px !important;


                li {
                    padding: 0px 0px 10px 5px;

                    a {
                        color: #363636;
                        font-size: 16px;
                        text-decoration: none;


                        span {
                            padding-left: 8px;
                            font-weight: 600;
                        }

                    }
                }
            }
        }
    }

    .load {
        text-align: center;
        font-size: 18px;
        padding: 10px 0px 30px 0px;
        font-weight: 600;

        a {
            color: #707070;
        }

        a:hover {
            color: #4790FC;
        }
    }

    // tab //
    .outer-layer {
        padding: 10px 20px;
        margin: 8px 15px;
        background-color: #4790FC;
        border-radius: 10px;
        display: flex;

        .tab-signal,
        .tab-followed,
        .tab-follow,
        .tab-setting {
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 50px;

            .filter {
                background: #fff;
                padding: 7px;
                display: flex;
                border-radius: 40px;
                width: 50px;
                height: 50px;
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 435px) {
    .signal-card-body {
        .followed-card-detail {
            flex-wrap: wrap;
        }
    }
}

#coppier-user-info {
    padding: 40px;
    overflow-y: auto;
    height: 100%;
    .info {
      padding: 10px 20px;
      border-bottom: 2px solid #4790fc;
      color: #4790fc;
      background-color: #e9ebec;
      width: 100px;
      text-align: center;
      font-size: 18px;
      margin-bottom: 30px;
    }

    .outer-user-body {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      .user-img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-image: url('../../../assets/images/user/dummy-user.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        object-position: center;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
      }

      .user-content {
          width:100%;

        h4 {
          color: #363636;
          font-size: 20px;
          font-weight: 500;
          margin: 0;
        }

        p {
          margin: 0;
          color: #363636;
          font-size: 16px;
          font-weight: 300;
        }
      }

      .graph-up {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .graph-up-text {
          color: #00b456;
          text-align: end;
          font-size: 16px;
          font-weight: 400;
        }

        .graph-img {
          img {
            width: 100%;
            padding: 10px 0px;
          }
        }

        .graph-down-text {
          color: #363636;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }

    .outer-user-chart {
      padding: 20px;
      border-radius: 5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      .user-data {
        padding: 10px 0px;

        .data-pic {
        }

        p {
          margin: 0;
          color: #363636;
          font-size: 14px;
          font-weight: 500;
          pad: 5px 0px;
        }

        h4 {
          color: #00b456;
          font-size: 25px;
          font-weight: 600;
        }
      }

      .side-graph {
        img {
          width: 100%;
        }
      }
    }

    .style-btn {
      text-align: end;
      padding: 35px 10px;

      .trade-btn {
        color: #363636;
        padding: 15px 30px;
        font-size: 16px;
        background: #e9ebec;
        border: none;
        font-weight: 600;
      }

      .trade-btn:hover {
        opacity: 0.8;
      }

      .money-btn {
        color: #fff;
        padding: 15px 30px;
        font-size: 16px;
        background: #4790fc;
        border: none;
        font-weight: 600;
      }

      .money-btn:hover {
        opacity: 0.8;
      }
    }

    .trade-point {
      background: #f9f9f9;
      padding: 20px;

      .outer-trade-option {
        padding: 20px;
        background: #fff;

        .trade-1 {
          padding: 10px;

          .trade-heading {
            justify-content: space-between;

            .left-heading {
              font-size: 16px;
              color: #363636;
              font-weight: 600;
            }

            .right-heading {
              font-size: 16px;
              color: #363636;
              font-weight: 400;

              .wrost {
                color: #ff7200;
              }

              .best {
                color: #4790fc;
              }
            }
          }
        }
      }
    }
  }
  .profileAlign {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  .profilePicAlign {
      display: flex;
      align-items: center;
      justify-content: center;
    }
