<ion-content>
  <div class="tab">
    <app-header></app-header>
    <!-- card-followed -->
    <div id="coppier-user-info">
      <div class="row">
        <div class="col-md-5">
          <div class="outer-user-body">
            <div class="row align-items-center profileAlign">
              <div class="col-md-12 col-lg-12 col-sm-12 profilePicAlign">
                <div class="user-img" appBgLoad [url]="provider?.getProfilePic"></div>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12 mt-4">
                <div class="user-content">
                  <!-- <h4>ReVeR273</h4> -->
                  <h4>
                    {{provider?.profile?.firstName}}
                    {{provider?.profile?.lastName}}
                  </h4>
                </div>
              </div>
            </div>
            <div class="graph-up">
              <div class="graph-up-text">+547.07%</div>
              <div class="graph-img">
                <img src="../../../../../assets/images/GRAPH.svg" />
              </div>
              <div class="graph-down-text">
                Forex Club-MT4 Market Real Server
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="outer-user-chart">
            <div class="row">
              <div class="col-md-4">
                <div class="text-center">
                  <div class="user-data">
                    <div class="data-pic">
                      <img
                        src="../../../../../assets/images/user/5027854_analytics_business_chart_graph_statistics_icon.svg" />
                    </div>
                    <p>Reliable</p>
                  </div>
                  <div class="user-data">
                    <div class="data-pic">
                      <h4>225</h4>
                    </div>
                    <p>weeks (since 2018)</p>
                  </div>
                  <div class="user-data">
                    <div class="data-pic">
                      <img src="../../../../../assets/images/user/man.svg" />
                    </div>
                    <p>1 . 1M USD</p>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-5">
                    <div class="chart-point d-flex">
                      <h5>Profit</h5>
                      <p>3534 5 USD</p>
                    </div>
                    <div class="chart-point d-flex">
                      <h5>Profit</h5>
                      <p>3534 5 USD</p>
                    </div>
                    <div class="chart-point d-flex">
                      <h5>Profit</h5>
                      <p>3534 5 USD</p>
                    </div>
                    <div class="chart-point d-flex">
                      <h5>Profit</h5>
                      <p>3534 5 USD</p>
                    </div>
                    <div class="chart-point d-flex">
                      <h5>Profit</h5>
                      <p>3534 5 USD</p>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="side-graph">
                      <img src="../../../../../assets/images/user/side-graph.svg" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row trade-point">
        <div class="col-md-4 col-sm-12">
          <div class="outer-trade-option">
            <div class="trade-1">
              <div class="trade-heading d-flex">
                <div class="left-heading">Trades:</div>
                <div class="right-heading">424</div>
              </div>
            </div>
            <div class="trade-1">
              <div class="trade-heading d-flex">
                <div class="left-heading">Profit Trades:</div>
                <div class="right-heading">424</div>
              </div>
              <div class="trade-heading d-flex">
                <div class="left-heading">Loss Trades:</div>
                <div class="right-heading">424</div>
              </div>
            </div>
            <div class="trade-1">
              <div class="trade-heading d-flex">
                <div class="left-heading">Long Trades:</div>
                <div class="right-heading">424</div>
              </div>
              <div class="trade-heading d-flex">
                <div class="left-heading">Short Trades:</div>
                <div class="right-heading">424</div>
              </div>
            </div>
            <div class="trade-1">
              <div class="trade-heading d-flex">
                <div class="left-heading">Best trade:</div>
                <div class="right-heading">
                  <span class="best">12 45 543</span> USD
                </div>
              </div>
              <div class="trade-heading d-flex">
                <div class="left-heading">Worst trade:</div>
                <div class="right-heading">
                  <span class="wrost">-545 54</span> USD
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="outer-trade-option">
            <div class="trade-1">
              <div class="trade-heading d-flex">
                <div class="left-heading">Trades:</div>
                <div class="right-heading">424</div>
              </div>
            </div>
            <div class="trade-1">
              <div class="trade-heading d-flex">
                <div class="left-heading">Profit Trades:</div>
                <div class="right-heading">424</div>
              </div>
              <div class="trade-heading d-flex">
                <div class="left-heading">Loss Trades:</div>
                <div class="right-heading">424</div>
              </div>
            </div>
            <div class="trade-1">
              <div class="trade-heading d-flex">
                <div class="left-heading">Long Trades:</div>
                <div class="right-heading">424</div>
              </div>
              <div class="trade-heading d-flex">
                <div class="left-heading">Short Trades:</div>
                <div class="right-heading">424</div>
              </div>
            </div>
            <div class="trade-1">
              <div class="trade-heading d-flex">
                <div class="left-heading">Best trade:</div>
                <div class="right-heading">
                  <span class="best">12 45 543</span> USD
                </div>
              </div>
              <div class="trade-heading d-flex">
                <div class="left-heading">Worst trade:</div>
                <div class="right-heading">
                  <span class="wrost">-545 54</span> USD
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="outer-trade-option">
            <div class="trade-1">
              <div class="trade-heading d-flex">
                <div class="left-heading">Trades:</div>
                <div class="right-heading">424</div>
              </div>
            </div>
            <div class="trade-1">
              <div class="trade-heading d-flex">
                <div class="left-heading">Profit Trades:</div>
                <div class="right-heading">424</div>
              </div>
              <div class="trade-heading d-flex">
                <div class="left-heading">Loss Trades:</div>
                <div class="right-heading">424</div>
              </div>
            </div>
            <div class="trade-1">
              <div class="trade-heading d-flex">
                <div class="left-heading">Long Trades:</div>
                <div class="right-heading">424</div>
              </div>
              <div class="trade-heading d-flex">
                <div class="left-heading">Short Trades:</div>
                <div class="right-heading">424</div>
              </div>
            </div>
            <div class="trade-1">
              <div class="trade-heading d-flex">
                <div class="left-heading">Best trade:</div>
                <div class="right-heading">
                  <span class="best">12 45 543</span> USD
                </div>
              </div>
              <div class="trade-heading d-flex">
                <div class="left-heading">Worst trade:</div>
                <div class="right-heading">
                  <span class="wrost">-545 54</span> USD
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
