<ion-content>
  <div class="setting">

    <app-header></app-header>

    <!-- text -->
    <p class="texting">Auto-fill your personal details using</p>

    <!-- form -->
    <div class="login-form">

      <!-- <div class="user-edit">
        <div class="edit-pencil">
          <img src="../../../../assets/images/setting/edit-1.svg" />
        </div>
      </div> -->

      <form class="modal-content" [formGroup]="form">
        <div class="container">
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images/setting/user-1.svg" />
            </div>
            <div class="form-group">
              <input type="text" placeholder="First name" formControlName="firstName"/>
            </div>
          </div>
          <div class="required">
            <span *ngIf="form.controls.firstName.errors && (form.controls.firstName.dirty || form.controls.firstName.touched)">
              <span *ngIf="form.controls.firstName.errors?.['required']">Required</span>
              <span *ngIf="form.controls.firstName.errors?.['pattern']">Invaild Character</span>
            </span>
          </div>
          <br />
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images/setting/user-1.svg" />
            </div>
            <div class="form-group">
              <input type="text" placeholder="Last name" formControlName="lastName" />
            </div>
          </div>
          <div class="required">
            <span
              *ngIf=" form.controls.lastName.errors && (form.controls.lastName.dirty || form.controls.lastName.touched) ">
              <span *ngIf="form.controls.lastName.errors?.['required']">Required</span>
              <span *ngIf="form.controls.lastName.errors?.['pattern']">Invaild Character</span>
            </span>
          </div>
          <br />
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../assets/images/register/mail.svg" />
            </div>
            <div class="form-group">
              <input type="text" placeholder="Email" formControlName="email" />
            </div>
          </div>
          <div class="required">
            <span
              *ngIf=" form.controls.email.errors && (form.controls.email.dirty || form.controls.email.touched)">
              <span *ngIf="form.controls.email.errors?.['required']">Email Required</span>
              <span *ngIf="form.controls.email.errors?.['email']">Invaild Email</span>
            </span>
          </div>
          <br />
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images/setting/phone.svg" />
            </div>
            <div class="form-group">
              <input
                type="text"
                placeholder="mobile"
                formControlName="mobile"
              />
            </div>
          </div>
          <div class="required">
            <span
              *ngIf=" form.controls.email.errors && (form.controls.email.dirty || form.controls.email.touched)">
              <span *ngIf="form.controls.email.errors?.['required']">Email Required</span>
              <span *ngIf="form.controls.email.errors?.['email']">Invaild Email</span>
            </span>
          </div>
          <!-- <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images/setting/company.svg" />
            </div>
            <input type="text" placeholder="Company" name="uname" required />
          </div>
          <br />
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images/setting/country.svg" />
            </div>
            <input type="text" placeholder="Country" name="uname" required />
          </div>
          <br />
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images/setting/addresss.svg" />
            </div>
            <input type="text" placeholder="Addess" name="uname" required />
          </div>
          <br />
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images/setting/city.svg" />
            </div>
            <input
              type="password"
              placeholder="City/Town"
              name="password"
              required
            />
          </div>
          <br />
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images/setting/state.svg" />
            </div>
            <input
              type="text"
              placeholder="State"
              name="uname"
              required
            />
          </div>
          <br />
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images/setting/code.svg" />
            </div>
            <input
              type="password"
              placeholder="Postal Code"
              name="password"
              required
            />
          </div>
          <br />
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images/setting/phone.svg" />
            </div>
            <input
              type="password"
              placeholder="Phone Number"
              name="password"
              required
            />
          </div> -->
          <!-- <br /> -->
          <!-- <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images/setting/key.svg" />
            </div>
            <input
              type="password"
              placeholder="Confirm password"
              name="password"
              required
            />
          </div> -->

          <button type="submit" class="submitBtn" (click)="updateProfile()">SUBMITTED</button>

          <div class="load" (click)="changePassword()">
            Change Password
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>
