<!-- top section -->
<div class="top-section">
  <div class="notification">
    <!-- <img src="../../../../assets/images/setting/bell-1.svg" /> -->
    <div class="all-user"></div>
  </div>
  <div class="headerOuter">
    <ion-icon name="power" (click)="logout()"></ion-icon>
  </div>
</div>

<!-- search -->
<!--
  <div class="search">
    <div class="form">
      <input type="text" class="form-control form-input" placeholder="Search anything..." />
      <div class="left-pan">
        <img src="../../../../assets/images/setting/seacrh-1.svg" />
      </div>
    </div>
  </div>
-->
