  // top //
  .top-section {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .all-user {
      background: #000;
      width: 30px;
      height: 30px;
      border-radius: 20px;
      border: 2px solid #fff;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      background-image: url('../../../assets/images/user/dummy-user.png');
      background-position: center !important;
      background-size: cover !important;
    }
  }

  // search //
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0px 20px 20px 20px;

    .form-control {
      background-color: #F3F3F3;
      border: none;
      height: 50px;
      border-radius: 10px;
      color: #707070;
      padding: 20px 48px;
    }

    .left-pan {
      position: absolute;
      left: 42px;
    }
  }
