<ion-content>
  <div class="detail">
    <div class="detail-img">
      <img src="../../../assets/images/login-screen/img.svg" />
    </div>
    <h4>REGISTER </h4>
    <p class="outer-text">Please enter your details.</p>
    <!-- form -->
    <div class="login-form">
      <form class="modal-content" [formGroup]="form">
        <div class="container">
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../assets/images/register/user.svg" />
            </div>
            <div class="form-group">
              <input type="text" placeholder="First name" formControlName="firstName">
            </div>
          </div>
          <div class="required">
            <span
              *ngIf=" form.controls.firstName.errors && (form.controls.firstName.dirty || form.controls.firstName.touched)">
              <span *ngIf="form.controls.firstName.errors?.['required']">Required</span>
              <span *ngIf="form.controls.firstName.errors?.['pattern']">Invaild Character</span>
            </span>
          </div>
          <br>
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../assets/images/register/user.svg" />
            </div>
            <div class="form-group">
              <input type="text" placeholder="Last name" formControlName="lastName">
            </div>
          </div>
          <div class="required">
            <span
              *ngIf=" form.controls.lastName.errors && (form.controls.lastName.dirty || form.controls.lastName.touched) ">
              <span *ngIf="form.controls.lastName.errors?.['required']">Required</span>
              <span *ngIf="form.controls.lastName.errors?.['pattern']">Invaild Character</span>
            </span>
          </div>
          <br>
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../assets/images/register/mail.svg" />
            </div>
            <div class="form-group">

              <input type="text" placeholder="Email" formControlName="email">
            </div>
          </div>
          <div class="required">
            <span *ngIf=" form.controls.email.errors && (form.controls.email.dirty || form.controls.email.touched)">
              <span *ngIf="form.controls.email.errors?.['required']">Email Required</span>
              <span *ngIf="form.controls.email.errors?.['email']">Invaild Email</span>
            </span>
          </div>
          <!-- <br>
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../assets/images/register/calander.svg" />
            </div>
            <div class="form-group">

              <input type="MM/DD/YYYY" placeholder="DD / MM /YYYY" formControlName="dob">
            </div>
          </div>
          <div class="required">
            <span *ngIf=" form.controls.dob.errors && (form.controls.dob.dirty || form.controls.dob.touched) ">
              <span *ngIf="form.controls.dob.errors?.['required']">DOB is Required</span>
            </span>
          </div>
          <br> -->
          <!-- <div class="login-input">
            <div class="mail-icon">
              <img src="../../../assets/images/register/gender.svg" />
            </div>
            <div class="form-group">

              <input type="text" placeholder="Gender" formControlName="gender">
            </div>
          </div>
          <div class="required">
            <span *ngIf="form.controls.gender.errors && (form.controls.gender.dirty || form.controls.gender.touched)">
              <span *ngIf="form.controls.gender.errors?.['required']">Gender is Required</span>
            </span>
          </div> -->
          <br>
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../assets/images/register/key.svg" />
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" formControlName="password">
            </div>
          </div>
          <div class="required">
            <span
              *ngIf="form.controls.password.errors && (form.controls.password.dirty || form.controls.password.touched)">
              <span *ngIf="form.controls?.password?.errors?.['required']">Password Required</span>
              <span *ngIf="form.controls?.password?.errors?.['minlength']">Minimum 8 Characters required</span>
            </span>
          </div>
          <br>
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../assets/images/register/key.svg" />
            </div>
            <div class="form-group">
              <input type="password" placeholder="Confirm password" formControlName="confirmPassword">
            </div>
          </div>
          <div class="required">
            <span
              *ngIf="form.controls.confirmPassword.errors && (form.controls.confirmPassword.dirty || form.controls.confirmPassword.touched)">
              <span *ngIf="form.controls?.password?.errors?.['required']">Password Required</span>
              <span *ngIf="form.controls?.confirmPassword?.errors?.['matching']">Password not matched</span>
            </span>
          </div>
          <div class="remeber">
            <div class="checking">
              <input type="checkbox" id="right">
              <label for="right">I am at least 19 years old</label>
            </div>
          </div>

          <button type="submit" (click)="register()">
            REGISTER</button>
          <div class="reg" (click)="login()"> Back to <a>LOGIN IN</a></div>
        </div>
      </form>
    </div>
  </div>
</ion-content>