// detail //
.detail {
    text-align: center;

    .detail-img {
        padding: 50px 0px 30px 0px;
    }

    h4 {
        font-size: 30px;
        font-weight: 500;
        color: #2B2A33;
        text-align: center;
    }

    .outer-text {
        color: #363636;
        font-size: 18px;
        font-weight: 500;
        margin: 0px;
        padding: 0px 60px;
    }

    // form //
    .login-form {
        .modal-content {
            padding: 20px 50px;

            .login-input {
                display: flex;
                align-items: center;
                border: 1px solid #fff;
                border-left-color: rgb(255, 255, 255);
                border-left-style: solid;
                border-left-width: 1px;
                border-radius: 5px;
                padding: 10px 0px;
                border-left: 7px solid #4790FC;
                background-color: #FFF;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                .mail-icon {
                    padding: 0px 20px;
                }

                .placing-right {
                    placeholder {
                        text-align: right;
                    }
                }

                input[type=text],
                input[type=password] {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: none;
                    box-sizing: border-box;
                    background: #FFF;
                    border-left: 1px solid #707070;
                    height: 20px;
                    color: #707070;
                    outline: none;

                }

                input[type="MM/DD/YYYY"] {
                    text-align: right;
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: none;
                    box-sizing: border-box;
                    background: #FFF;
                    border-left: 1px solid #707070;
                    height: 20px;
                    color: #707070;
                    outline: none;
                }
            }

            // remember //
            .remeber {
                display: flex;
                justify-content: space-between;
                padding: 30px 0px 40px 0px;

                .checking {
                    display: flex;
                    align-content: center;

                    #right {
                        height: 20px;
                        width: 20px;
                        margin-right: 15px;
                    }

                    label {
                        font-size: 16px;

                        color: #363636;
                    }
                }

                .psw {
                    a {
                        color: #363636;
                        font-size: 16px;
                    }

                    a:hover {
                        color: #4790FC;
                    }

                    text-transform: capitalize;
                }
            }

            // btn //
            button {
                background-color: #4790FC;
                border-radius: 5px;
                color: white;
                padding: 20px 50px;
                margin: auto;
                border: none;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                display: flex;
                font-size: 20px;
                justify-content: center;

                img {
                    margin-right: 15px;
                }
            }

            button:hover {
                opacity: 0.8;
            }

            .reg {
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                padding: 30px 0px;
                margin: auto;
                color: #363636;

                a {
                    text-decoration: underline;
                }
            }

            .reg:hover {
                opacity: 0.8;
            }
        }

    }

}