<ion-datetime #datetimepicker presentation="date" [(ngModel)]="date">
    <ion-buttons slot="buttons">
        <ion-button (click)="onConfirm()" color="primary">Done</ion-button>
    </ion-buttons>
</ion-datetime>
<div>
    vefvs{{date}}
</div>

