.setting {

    // top //
    .top-section {
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .all-user {
            background: #000;
            width: 30px;
            height: 30px;
            border-radius: 20px;
            border: 2px solid #fff;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }

    // search //
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0px 20px 20px 20px;

        .form-control {
            background-color: #F3F3F3;
            border: none;
            height: 50px;
            border-radius: 10px;
            color: #707070;
            padding: 20px 48px;
        }

        .left-pan {
            position: absolute;
            left: 42px;
        }
    }

    .texting {
        color: #363636;
        font-size: 18px;
        font-weight: 500;
        margin: 0px;
        text-align: center;
        padding: 10px 0px 20px 0px;
        font-weight: 300;
    }

    // form //
    .login-form {
        .user-edit {
            text-align: center;
            width: 100px;
            height: 100px;
            background: #000;
            border-radius: 70px;
            margin: 10px auto 30px;
            position: relative;

            .edit-pencil {
                position: absolute;
                bottom: 4px;
                right: 6px;
                background: #fff;
                border: 1px solid #000;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                border-radius: 50px;
            }
        }

        .modal-content {
            padding: 20px 20px;

            .login-input {
                display: flex;
                align-items: center;
                border: 1px solid #fff;
                border-left-color: rgb(255, 255, 255);
                border-left-style: solid;
                border-left-width: 1px;
                border-radius: 5px;
                padding: 10px 0px;
                border-left: 7px solid #4790FC;
                background-color: #FFF;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                .mail-icon {
                    padding: 0px 20px;
                }

                input[type=text],
                input[type=password] {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: none;
                    box-sizing: border-box;
                    background: #FFF;
                    border-left: 1px solid #707070;
                    height: 20px;
                    color: #707070;
                    outline: none;

                }

                input[type="MM/DD/YYYY"] {
                    text-align: right;
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: none;
                    box-sizing: border-box;
                    background: #FFF;
                    border-left: 1px solid #707070;
                    height: 20px;
                    color: #707070;
                    outline: none;
                }
            }

            // remember //
            .remeber {
                display: flex;
                justify-content: space-between;
                padding: 30px 0px 40px 0px;

                .checking {
                    display: flex;
                    align-content: center;

                    #right {
                        height: 20px;
                        width: 20px;
                        margin-right: 15px;
                    }

                    label {
                        font-size: 16px;

                        color: #363636;
                    }
                }

                .psw {
                    a {
                        color: #363636;
                        font-size: 16px;
                    }

                    a:hover {
                        color: #4790FC;
                    }

                    text-transform: capitalize;
                }
            }

            // btn //
            button {
                background-color: #4790FC;
                border-radius: 5px;
                color: white;
                padding: 20px 50px;
                margin: auto;
                border: none;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                display: flex;
                font-size: 20px;
                justify-content: center;

                img {
                    margin-right: 15px;
                }
            }

            button:hover {
                opacity: 0.8;
            }

            .reg {
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                padding: 30px 0px;
                margin: auto;
            }

            .reg:hover {
                opacity: 0.8;
            }
        }

    }
         // tab //
         .outer-layer {
             padding: 10px 20px;
             margin: 8px 15px;
             background-color: #4790FC;
             border-radius: 10px;
             display: flex;
    
             .tab-signal,
             .tab-followed,
             .tab-follow,
             .tab-setting {
                 width: 100%;
                 justify-content: center;
                 align-items: center;
                 display: flex;
                 height: 50px;
    
                 .filter {
                     background: #fff;
                     padding: 7px;
                     display: flex;
                     border-radius: 40px;
                     width: 50px;
                     height: 50px;
                 }
             }
         }
}
.submitBtn{
    margin-top:35px !important;
}
.load {
    text-align: center;
    font-size: 18px;
    padding: 10px 0px 30px 0px;
    font-weight: 600;

    a {
        color: #707070;
    }

    a:hover {
        color: #4790FC;
    }
}