<ion-content>
  <div class="setting">

    <app-header></app-header>

    <!-- form -->
    <div class="login-form">

      <form class="modal-content" [formGroup]="form">
        <div class="container">
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images/setting/key.svg" />
            </div>
            <div class="form-group">
              <input
                type="password"
                placeholder="Old password"
                name="oldPassword"
                formControlName="oldPassword"
              />
            </div>
          </div>
          <div class="required">
            <span
              *ngIf="form.controls.oldPassword.errors && (form.controls.oldPassword.dirty || form.controls.oldPassword.touched)"
            >
              <span *ngIf="form.controls?.oldPassword?.errors?.['required']"
                >Password Required</span
              >
              <span *ngIf="form.controls?.oldPassword?.errors?.['minlength']"
                >Minimum 8 Characters required</span
              >
            </span>
          </div>
          <br />
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images/setting/key.svg" />
            </div>
            <div class="form-group">
              <input
                type="password"
                placeholder="New password"
                name="newPassword"
                formControlName="newPassword"
              />
            </div>
          </div>
          <div class="required">
            <span
              *ngIf="form.controls.newPassword.errors && (form.controls.newPassword.dirty || form.controls.newPassword.touched)"
            >
              <span *ngIf="form.controls?.newPassword?.errors?.['required']"
                >Password Required</span
              >
              <span *ngIf="form.controls?.newPassword?.errors?.['minlength']"
                >Minimum 8 Characters required</span
              >
            </span>
          </div>
          <br />
          <div class="login-input">
            <div class="mail-icon">
              <img src="../../../../assets/images/setting/key.svg" />
            </div>
            <div class="form-group">
              <input
                type="password"
                placeholder="Confirm password"
                name="confirmPassword"
                formControlName="confirmPassword"
              />
            </div>
          </div>
          <div class="required">
            <span
              *ngIf="form.controls.confirmPassword.errors && (form.controls.confirmPassword.dirty || form.controls.confirmPassword.touched)"
            >
              <span *ngIf="form.controls?.confirmPassword?.errors?.['required']"
                >Password Required</span
              >
              <span
                *ngIf="form.controls?.confirmPassword?.errors?.['minlength']"
                >Minimum 8 Characters required</span
              >
            </span>
          </div>
          <br />

          <button type="submit" class="submitBtn" (click)="updateNewPassword()">
            SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
