<ion-router-outlet></ion-router-outlet>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="signal">
      <ion-icon name="person"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="followed">
      <ion-icon name="navigate"></ion-icon>
      Followed
    </ion-tab-button>
    <ion-tab-button tab="followers">
      <ion-icon name="globe"></ion-icon>
      Followers
    </ion-tab-button>
    <ion-tab-button tab="setting">
      <ion-icon name="settings"></ion-icon>
      Settings
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
