@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:wght@300;400;600;700;900&display=swap');
@import './variables.scss';
@import './theme/home.scss';

body {
  font-family: 'Open Sans' !important;
}

.main-all-page {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 30px;
  padding-top: 120px;
}

.btn {
  background: none;
  border: 2px solid $primary-color;
  color: $primary-color;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  padding: 8px 20px;

  &:hover {
    background-color: $primary-color;
    color: #fff;
    transition: all 0.5s ease-in-out;
  }
}

.follow-btn {
  background: none;
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 6px 20px;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: $primary-color;
  }
}

.active-btn {
  background-color: $primary-color;
}

/*------- PAGINATION SECTION SCSS START HERE -------*/
.pagination {
  padding-top: 20px;
  padding-bottom: 40px;

  .pages {
    width: 100%;
    display: flex;
    justify-content: center;

    ul {
      margin: 0;

      li {
        .page-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
          width: 35px;
          border-radius: 50%;
          border: none;
          background: none;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

          &:hover {
            background-color: $primary-color;
            color: #fff;
          }
        }

        .active {
          background-color: $primary-color;
          color: #fff;
        }
      }
    }
  }
}

/*------- REGISTER PAGE SCSS ---------*/
.ragister-main {
  border-radius: 30px;
  padding: 25px 50px;

  @media only screen and (max-width: 991.99px) {
    padding: 0;
  }

  h1 {
    font-size: 45px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
  }

  .devider {
    height: 60px;
    display: flex;
    align-items: center;

    .hr {
      height: 2px;
      background-color: #dedede;
      width: 100%;
    }
  }

  .auto-fill {
    .form-label {
      font-size: 14px;
      color: #ababab;
      // padding-bottom: 4px !important;
    }

    input {
      border: none;
      box-shadow: none;
      background-color: #e9ebec;
      height: 48px;
      outline: none;
    }

    .hr {
      height: 2px;
      background-color: #dedede;
      width: 100%;
    }
  }
}

.copy-right {
  background-color: #4790fc;
  color: #fff;
  padding: 8px 0;
}

.required {
  color: red;
  font-size: 0.7rem;
  height: 22px;
  padding-left: 6px;
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 8px;
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 8px;
}

.checking {
  display: flex;
  align-content: center;

  #right {
    height: 20px;
    width: 20px;
    margin-right: 15px;
  }

  label {
    font-size: 16px;

    color: #363636;
  }
}
.searchBox {
  margin-bottom: 25px;

  input {
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: #e9ebec;
    height: 48px;
    outline: none;
    padding: 10px;
    text-align: left;
  }
}
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background: #fff;
  .main {
    &:hover {
      cursor: pointer;
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
    }
  }
}
.btnAlignment {
  width: 180px;
}

.btnPrimary {
  background-color: #4790fc !important;
  color: #fff !important;
  border:none !important
}
