.tab {

  .main-signal-card {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px;
    gap: 15px;
  }

  // top //
  .top-section {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .all-user {
      background: #000;
      width: 30px;
      height: 30px;
      border-radius: 20px;
      border: 2px solid #fff;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }

  // search //
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0px 20px 20px 20px;

    .form-control {
      background-color: #F3F3F3;
      border: none;
      height: 50px;
      border-radius: 10px;
      color: #707070;
      padding: 20px 48px;
    }

    .left-pan {
      position: absolute;
      left: 42px;
    }
  }

  // signal-card//
  .followed-main-card {
    padding: 20px;

    .followed-card-body {
      border-radius: 5px 5px 0px 0px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding: 20px;

      .followed-user {
        display: flex;
        color: #000;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        .followed-pic {
          width: 60px;
          height: 60px;
          background: #000;
          border-radius: 50px;
          min-width: 60px;
        }

        .followed-text {
          .tata {
            margin: 0;
            font-size: 18px;
            font-weight: 500;
            color: #363636;
          }

          .exp {
            margin: 0;
            font-size: 16px;
            color: #707070;
          }
        }
      }

      .followed-line-chart {
        padding-top: 20px;
      }
    }

    .unfilled-card {
      border: 1px solid #E2E2E2;
      padding: 30px 25px 20px;
      border-radius: 0px;
      background-color: #E2E2E2;

      ul {
        list-style-image: url("../../../../assets/images/signals/8666656_check_circle_icon.svg");
        margin-bottom: 0px !important;


        li {
          padding: 0px 0px 10px 5px;

          a {
            color: #363636;
            font-size: 16px;
            text-decoration: none;


            span {
              padding-left: 8px;
              font-weight: 600;
            }

          }
        }
      }
    }

    .follow-me {

      button {
        width: 100%;
        background-color: #0F9D58;
        text-align: center;
        padding: 15px 0px;
        border-radius: 0px 0px 5px 5px;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
      }

      button:hover {
        background-color: #4790FC;
      }
    }
  }

  .load {
    text-align: center;
    font-size: 18px;
    padding: 10px 0px 30px 0px;
    font-weight: 600;

    a {
      color: #707070;
    }

    a:hover {
      color: #4790FC;
    }
  }

  // tab //
  .outer-layer {
    padding: 10px 20px;
    margin: 8px 15px;
    background-color: #4790FC;
    border-radius: 10px;
    display: flex;

    .tab-signal,
    .tab-followed,
    .tab-follow,
    .tab-setting {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      height: 50px;

      .filter {
        background: #fff;
        padding: 7px;
        display: flex;
        border-radius: 40px;
        width: 50px;
        height: 50px;
      }
    }
  }
}
