<ion-content>
  <div class="tab">

    <app-header></app-header>

    <div class="main-signal-card">

      <div class="signal-card-body" *ngIf="signalProviders.length === 0">
        <div>
          <p class="notFound">No new signal provider found..</p>
        </div>
      </div>

      <div class="followed-main-card" *ngFor="let signalProvider of signalProviders"
        (click)="gotoProviderDetail(signalProvider)">

        <div class="followed-card-body">
          <div class="followed-user">
            <div class="followed-pic" appBgLoad [url]="signalProvider?.getProfilePic">
            </div>
            <div class="followed-text">
              <p class="tata">{{signalProvider?.firstName}} {{signalProvider?.lastName}}</p>
              <p class="exp">My experience in trading is more than 7 years.</p>
            </div>
          </div>
          <div class="followed-line-chart">
            <img src="../../../../assets/images/followed/line-graph.svg" class="w-100" />
          </div>
        </div>
        <div class="unfilled-card ">
          <ul>
            <li class="product-list">AMOUNT FOLLOWING: <span>$417,978</span></li>
            <li class="product-list">INVESTORS: <span>1,039</span></li>
            <li class="product-list">LIVE INVESTOR PROFIT (1M) <span>$417,978</span></li>
            <li class="product-list">ROI: <span>2.23%</span></li>
          </ul>
        </div>
        <div class="follow-me" *ngIf="follow" (click)="startFollow(signalProvider)">
          <button>Follow</button>
        </div>
      </div>

    </div>

  </div>
</ion-content>
